{{ define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/cover/cover.css"> -->
    <link rel="stylesheet" href="static/css/main.css">
  </head>
  <body>
    <body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">CoffeeKisyaHouse</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="/">Главная</a>
          <a class="nav-link" href="/contacts/">Контакты</a>
          <a class="nav-link" href="/create">Создать пост</a>
        </nav>
      </div>
    </header>
  {{end}}
