{{ define "index" }}

{{ template "header" }}

<main class="px-3">
  <h1 class="cover-heading">Главная страница</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Consectetur vero adipisci vel amet iusto, possimus quibusdam laboriosam
    dolorum non? Possimus optio perspiciatis maxime. Corrupti vitae nisi cumque,
    magni officiis accusamus.</p>

  {{ range . }}
  <div class="alert alert-danger">
    <h2>{{ .Title }}</h2>
    <p>{{ .Anons }}</p>
    <a href="/post/{{ .Id }}" class="btn btn-danger">Читать далее</a>
  </div>
  {{ else }}
  <p class="lead">Статей нет!</p>
  {{ end }}

  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Узнать больше</a>
  </p>
</main>

{{ template "footer" }}

{{ end }}
