{{ define "show" }}

{{ template "header" }}

<main role="main" class="inner cover">
  <h1 class="cover-heading">{{ .Title }}</h1>
  <p class="lead">{{ .Full_text }}</p>

  <p class="lead">
    <a href="/" class="btn btn-lg btn-secondary">Назад</a>
  </p>
</main>

{{ template "footer" }}

{{ end }}
